<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">logs/test3.log</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="logfile" fileName="${filename}" append="true">
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%nw"/>-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!--<Logger name="org.apache.log4j.xml" level="INFO">
           <AppenderRef ref="logfile"/>
       </Logger>-->

        <!--<Root level="error">
            <AppenderRef ref="console"/>
        </Root>

        <Root level="DEBUG">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Root>-->

        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logfile"/>
        </Root>
    </Loggers>
 </Configuration>

